name: Build
on:
  workflow_dispatch:
permissions: write-all
jobs:
  build:
    name: 'Xem quá trình'
    if: github.repository == 'Zelooooo/OS' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: "Load data ${{ github.event.issue.number }}"
        uses: actions/checkout@v3
      - run: |
          User="User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36"
          curl -H "$User" -O https://github.com/iBotPeaches/Apktool/releases/download/v2.9.0/apktool_2.9.0.jar
        
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'Add the very useful text file'
          add: 'apktool_2.9.0.jar --force'
          cwd: './'
